<h2>Product List</h2>

<p>
    <a asp-action="Products" class="btn btn-primary">Show products</a>
</p>
<p>
    <a asp-action="Orders" class="btn btn-primary">Manage orders</a>
</p>
<p>
    <a asp-action="AdminPanel" class="btn btn-primary">Admin panel</a>
</p>


